<!DOCTYPE html>
<html lang="en">
    <%- include("./partials/head") %>


<body class="bodyAg">
    <%- include("./partials/headerLogueado") %>
   

    <main>
        <div class="uk-section uk-section-small">
            <div class="uk-container uk-container-large uk-flex uk-flex-middle uk-flex-column">
               <div class="caja">
                <h2 class="tituloAg">Nueva publicación</h2>
                <h4 class="tituloAg">Comienza a publicar tus fotos y videos!</h4>

                <form class="formAg" action="">

                    <p>
                        <input class="inputForm" type="file" name="seleccionar">
                    </p>
                    
                    <p>
                        <input type="text" placeholder="Agregar descripción" name="pieDeImagen" class="inputForm">
                    </p>

                    <p>
                        <button type="submit"><a class="buttonFormAgr" href="/">Publicar</a></button>
                    </p>
                </form>
               </div>

            </div>
        </div>
    </main>
    
  <%- include("./partials/footer") %> 
</body>

</html>