<!DOCTYPE html>
<html lang="en">

    <%- include("./partials/head") %>

<body>
    <%- include("./partials/headerDeslogueado") %>

    <main>
        <div class="uk-section uk-section-small">
            <div class="uk-container uk-container-large uk-flex uk-flex-middle uk-flex-center uk-flex-column">
                <h2 class="inputForm">Iniciá sesión con tu cuenta</h2>
                <form class="inputForm" action="/users" target="/users">
                    <p>
                        <input type= "email" placeholder="Email" name="email" class="inputForm">
                    </p>

                    <p>
                        <input type= "password" placeholder="Contraseña" name="password" class="inputForm">
                    </p>

                    <button class="buttonForm" type="submit">Iniciá sesión</button>

                </form>
            </div>
        </div>
    </main>

    <%- include("./partials/footer") %> 

</body>

</html>