<!DOCTYPE html>
<html lang="en">

    <%- include("./partials/head") %>

<body>
    <%- include("./partials/headerDeslogueado") %>

    <main>
        <div class="uk-section uk-section-small">
            <div class="uk-container uk-container-large uk-flex uk-flex-middle uk-flex-center uk-flex-column">
                <h2>Registrate</h2>
                <form action="">
                    <p>
                        <input type="text" placeholder="Nombre" name="name" class="inputForm">
                    </p>

                    <p>
                        <input type="text" placeholder="Nombre de usuario" name="username" class="inputForm" >
                    </p>

                    <p class="date">
                        <p style="margin: 0;">Fecha de nacimiento</p>
                        <input type="date" name="date" class="inputForm">
                    </p>
                        
                    <p>
                        <input type= "email" placeholder="Email" name="email" class="inputForm">
                    </p>
    
                    <p>
                        <input type= "password" placeholder="Contraseña" name="password" class="inputForm">
                    </p>
    
                        <button class="buttonForm" type="submit">Registrate</button>
                    
                    
            
                </form>
            </div>
        </div>
    </main>

    <%- include("./partials/footer") %> 


</body>

</html>