<!DOCTYPE html>
<html lang="en">

    <%- include("./partials/head") %>

<body class="bodyRegistro">
    <%- include("./partials/headerDeslogueado") %>

    <main>
        <div class="uk-section uk-section-small">
            <div class="uk-container uk-container-large uk-flex uk-flex-middle uk-flex-center uk-flex-column">
             
                <div class="cuadradoRegistro">

                <h1 class="titulo1">Regístrate</h1>
                <h3 class="titulo2"> para ver y compartir tus aventuras vinícolas!</h3>

                <form class="inputForm" action="/" target="/">
                    <p>
                        <input type="text" placeholder="Nombre" name="name" class="inputForm">
                    </p>

                    <p>
                        <input type="text" placeholder="Nombre de usuario" name="username" class="inputForm" >
                    </p>

                    <p class="date">
                        <p style="margin: 0;">Fecha de nacimiento</p>
                        <input type="date" name="date" class="inputForm">
                    </p>
                        
                    <p>
                        <input type= "email" placeholder="Email" name="email" class="inputForm">
                    </p>
    
                    <p>
                        <input type= "password" placeholder="Contraseña" name="password" class="inputForm">
                    </p>
    
                        <button class="buttonForm" type="submit">Regístrate!</button>
                    
                    
               </div>
            
                </form>
            </div>
        </div>
    </main>

    <%- include("./partials/footer") %> 


</body>

</html>