.bodyAg{
    background-image: url(/public/images/);
    background-position: center;
    background-size: cover;
}
.buttonFormAgr{
    text-decoration: none;
    color: black;
    padding: 10px;
    font-size: larger;
    margin: 0;
    font-family: 'Playfair Display', serif;
}
.tituloAg{
    margin-top: 10px;
    color: black;
    font-family: 'Playfair Display', serif;
    text-align: center;
    margin-bottom: 10px;
}
.inputForm{
    font-family: 'Playfair Display', serif;
    margin-bottom: 30px;
    margin-top: 30px;
}

.caja{
    margin-top: 60px;
    background-color: rgba(128, 128, 128, 0.787);
    height: 350px;
    width: 500px
}
.formAg{
    text-align: center;
}