.info-usuario .foto-perfil{
    border-radius: 50%;
}
body{
    font-family: 'Playfair Display', serif;
}
.info-usuario .red-usuario{
    list-style: none;
    padding: 0  ;
}

.muro{
    margin-top: 20px;
    padding-top: 20px;
    border-top: 1px solid lightgray;
}
.muro .link-detalle{
    color: gray;
    text-decoration: none;
}
.foto-perfil{
    width: 150px;
    margin-left: 150px;
    margin-bottom: 20px;
}
.uk-margin-remove{
    font-family: 'Playfair Display', serif;

}