.bodyRegistro{
    background-image: url(/images/pexels-photo-5876703.jpeg);
    background-position: center;
    background-size: cover;
}
.cuadradoRegistro{
    margin-top: 10px;
    background-color: rgba(128, 128, 128, 0.787);
    color: black;
    width: 500px;
}
.titulo1{
    margin-top: 40px;
    color: black;
}
.titulo2{
    margin-bottom: 30px;
    color: black;
}
.buttonForm{
    margin-top: 30px;
    margin-bottom: 30px;
    font-size: large;
}
.bodyEditarPerf{
    background-image: url(/images/pexels-photo-2742687.jpeg);
    background-position: center;
    background-size: cover;
}